@import '../../styles/main.scss';

.button {
  border-radius: 16px;
  padding: 2.8rem 4rem;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: 'Roboto', sans-serif;
  color: $color-white;
  font-size: 2rem;
  font-weight: 700;
  background-color: $color-primary-blue;
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: darken($color: $color-primary-blue, $amount: 7%);
  }
}

.btn--yellow {
  background-color: $color-primary-yellow;
  &:hover {
    background-color: darken($color: $color-primary-yellow, $amount: 7%);
  }
}

.btn--white {
  background-color: $color-white;
  &:hover {
    background-color: darken($color: $color-white, $amount: 7%);
  }
}
