// COLORS

$color-primary-blue: #274c5b;
$color-primary-green: #7eb693;
$color-primary-green-tint: #eff6f1;
$color-primary-yellow: #efd372;
$color-primary-yellow-tint: rgba(253, 177, 45, 0.16);
$color-background-light-gray: #f9f8f8;
$color-paragraph-gray: #525c60;
$color-white: #fff;
$color-black: #000;
