.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4.2rem;
  &__info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__img {
    border-radius: 20px;
    width: 20rem;
    height: 20rem;
    // background-image: url('../../imgs/banana.png');
    background-size: cover;
    background-blend-mode: multiply;
  }
}
