@import '../../../styles/abstracts/variables';

.product {
  z-index: 100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 11.5rem 0rem 14rem;
  background-color: #fffafa;
  &__details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 9rem;
    &-img {
      background-color: $color-background-light-gray;
      background-blend-mode: multiply;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 59rem;
      height: 56rem;
      padding: 3.6rem;
      border-radius: 30px;
    }
  }

  &__description {
    text-align: center;
  }
}
