.hero__container {
  background-image: url('../../imgs/hero-background.png');
  background-size: cover;
  // flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin-bottom: 16.4rem;
}
