@import '../../styles/abstracts/variables';

.list__item {
  &-icon {
    width: 10rem;
    height: 10rem;
    background-color: $color-white;
    flex-shrink: 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
