@import '../../styles/abstracts/variables';

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  width: 68.2rem;
  padding-left: 5.4rem;
  padding: 12rem 5.4rem;
  border-radius: 30px;

  &--1 {
    background-image: url('../../imgs/banner-1.png');
  }

  &--2 {
    background-image: url('../../imgs/banner-2.png');
  }
}
