@import '../../styles/main.scss';

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  width: 68.2rem;
  height: 36rem;
  padding-left: 5.4rem;
  border-radius: 30px;
  box-sizing: border-box;

  &--1 {
    color: $color-white;
    background-image: url('../../imgs/banner-1.png');
  }

  &--2 {
    background-image: url('../../imgs/banner-2.png');
  }
}
