.price {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;

  color: #274c5b;
}

.discount {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #b8b8b8;
  text-decoration: line-through;
  margin-right: 0.5rem;
}
